# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  node-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.11.x]
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  node-build-test-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.11.x]
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci
      
      - name: Resolve latest contracts
        run: |
          npm update \
            @keep-network/keep-ecdsa \
            @keep-network/tbtc

      - name: Build node
        run: npm run build --if-present

      - name: Run tests
        run: npm test

      - name: Bump up package version
        if: | # remove the `rfc-18` condition once workflow is tested
          (github.ref == 'refs/heads/master'
            && github.event_name != 'pull_request')
            || startsWith(github.head_ref, 'rfc-18/')
        uses: keep-network/npm-version-bump@v1

      - name: Publish to npm # TODO: remove dry-run
        if: | # remove the `rfc-18` condition once workflow is tested
          (github.ref == 'refs/heads/master'
            && github.event_name != 'pull_request')
            || startsWith(github.head_ref, 'rfc-18/')
        run: |
          echo //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }} > .npmrc
          npm publish --access=public --dry-run